.rodape {
    height: 40vh;
    width: 100%;
    background-color: #0e0e0e;
}

.logorodape {
    width: 7vh;
}

.fiap h1 {
    transition: .5s;
}

.fiap h1:hover {
    color: #ed145b;
}

.infrodape {
    border-top: 1px solid #ffffff3e;
    border-bottom: 1px solid #ffffff3e;
}

.youtube {
    font-size: 8vh;
    color: #fff;
    transition: .5s;
}

.youtube:hover {
    color: rgb(255, 0, 0);
}